nav {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  position: sticky;
  background-color: rgb(66, 63, 83);
  z-index: 2;
}
a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
a.active {
  color: rgb(213, 48, 48);
}
a:hover {
  color: rgb(213, 48, 48);
  transition: 0.4s;
}

.top-left a {
  font-size: 24px;
  color: rgb(213, 48, 48);
}
.top-right {
  display: flex;
  width: 50%;
  justify-content: space-around;
}
.login,
.cart,
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart {
  position: relative;
  padding-right: 5px;
}
.cartNo {
  position: absolute;
  top: 0;
  right: 0;
  color: rgb(213, 48, 48);
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.logout {
  position: relative;
}
.logout small {
  position: absolute;
  top: -3%;
  color: white;
  font-weight: bold;
}
.logout button {
  padding: 10px;
  background-color: rgb(190, 65, 65);
  color: white;
  letter-spacing: 1px;
  border-radius: 3px;
  cursor: pointer;
  border: 2px solid transparent;
}
.logout button:hover {
  background-color: rgb(213, 48, 48);
  transition: 0.3s;
}

@media only screen and (max-width: 600px) {
  a {
    font-size: 16px;
  }
  .top-left a {
    font-size: 22px;
  }
}
